
<h1>Listing Notes</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th></th>
  </tr>
 
  <% @notes.each do |note| %>
    <tr>
      <td><%= note.title %></td>
      <td><%= note.content %></td>
      <td><%= link_to 'Show', note_path(note) %></td>
    </tr>
  <% end %>
</table>