<p>
  <strong>Title:</strong>
  <%= markdown(@note.title) %>
</p>
 
<p>
  <strong>Content:</strong>
  <%= markdown(@note.content) %>
</p>

<p>
  <strong>Tags:</strong>
  <%= markdown(@note.tags) %>
</p>

<%= link_to 'Notes', notes_path %>


